@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">Welcome to the BookDragon Dragon's Lair</h1>
    <h2 class="subtitle">A keep for all your bookish needs</h2>
</div>
<div class="d-flex justify-content-center align-items-center mt-3">
    <a class="btn lairBtn" asp-area="" asp-controller="Home" asp-action="BookList">Enter the Lair</a>
</div>
