@{
    ViewData["Title"] = "Book List";
}
<div class="container lair">

    <div class="text-center">
        <h1 class="title">Welcome to the BookDragon's Lair</h1>
        <h2 class="subtitle">Your personal book collection awaits</h2>
    </div>

    <div>
        <h3 class="subtitle">Your Books</h3>
        <ul class="list-unstyled text-light">
            <li>
                <div class="card mt-3">
                    <div class="card-header bg-secondary">
                        <h4>Clean Code</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <img class="coverImg" src="/img/clean_code.jpg" />
                            </div>
                            <div class="col-8">
                                <p>Author: Robert C. Martin</p>
                                <p>Publish Date: 2009</p>
                                <p>
                                    Description: With Clean Code, Second Edition, Robert C. Martin ("Uncle Bob") reinvigorates the classic guide to software craftsmanship with updated insights, broader scope, and enriched content. This new edition--a comprehensive rewrite of the original bestseller--is poised to transform the way developers approach coding, fostering a deeper commitment to the craft of writing clean, flexible, and maintainable code.

                                    The book is divided into four parts: basic coding practices, design principles and heuristics, high-level architecture, and the ethics of craftsmanship. It challenges readers to critically evaluate code quality and reassess their professional values, ultimately guiding them to produce better software. This edition includes expanded coverage of testing disciplines, design and architecture principles, and multiple programming languages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card mt-3">
                    <div class="card-header bg-secondary">
                        <h4>Clean Code</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <img class="coverImg" src="/img/clean_code.jpg" />
                            </div>
                            <div class="col-8">
                                <p>Author: Robert C. Martin</p>
                                <p>Publish Date: 2009</p>
                                <p>
                                    Description: With Clean Code, Second Edition, Robert C. Martin ("Uncle Bob") reinvigorates the classic guide to software craftsmanship with updated insights, broader scope, and enriched content. This new edition--a comprehensive rewrite of the original bestseller--is poised to transform the way developers approach coding, fostering a deeper commitment to the craft of writing clean, flexible, and maintainable code.

                                    The book is divided into four parts: basic coding practices, design principles and heuristics, high-level architecture, and the ethics of craftsmanship. It challenges readers to critically evaluate code quality and reassess their professional values, ultimately guiding them to produce better software. This edition includes expanded coverage of testing disciplines, design and architecture principles, and multiple programming languages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card mt-3">
                    <div class="card-header bg-secondary">
                        <h4>Clean Code</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-center align-items-center">
                                <img class="coverImg" src="/img/clean_code.jpg" />
                            </div>
                            <div class="col-8">
                                <p>Author: Robert C. Martin</p>
                                <p>Publish Date: 2009</p>
                                <p>
                                    Description: With Clean Code, Second Edition, Robert C. Martin ("Uncle Bob") reinvigorates the classic guide to software craftsmanship with updated insights, broader scope, and enriched content. This new edition--a comprehensive rewrite of the original bestseller--is poised to transform the way developers approach coding, fostering a deeper commitment to the craft of writing clean, flexible, and maintainable code.

                                    The book is divided into four parts: basic coding practices, design principles and heuristics, high-level architecture, and the ethics of craftsmanship. It challenges readers to critically evaluate code quality and reassess their professional values, ultimately guiding them to produce better software. This edition includes expanded coverage of testing disciplines, design and architecture principles, and multiple programming languages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>   
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3">
        <a class="btn lairBtn" asp-area="" asp-controller="Home" asp-action="Index">Return to Home</a>
    </div>

</div>